:root {
    box-sizing: border-box;
}

html {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

aside {
    padding-left: 1rem;
}

ul {
    list-style: none;
}

img #logoContainer {
}

#landingPage {
    border: 1px solid red;
    padding-left: 2rem;
}

#landingPage img {
    width:100%;
}

.display-none {
    display: none;
}

.row {
    display: flex;
}
