* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Sora', sans-serif;
    min-height: 100vh;
    background-color: black;
    color: white;
}

body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

main {
    /* worked well at min=height 90% */
    /* min-height: 100%; */
    min-width: 75%;
    max-width: 90%;
    border: 1px solid red;
}

aside {
    border: 1px solid red;
}

h1 {
    margin-bottom: 2rem;
}

form {
    padding-bottom: 1rem;
}

ul {
    list-style: none;
}

ul li {
    padding-right: 0.5rem;
    
}

footer {
    height: 10vh;
    align-items: center;
    font-weight: bold;
    border: 1px solid red;
}

.display-none {
    display: none;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.col {
    display: flex;
    flex-flow: column wrap;
}

#mediaSelect {
    margin-bottom: 1rem;
    width: 80%;
}

#searchInput {
    margin-bottom: 1rem;
    width: 80%;
}

#searchBtn {
    width: 80%;
}

#logoContainer {
    padding-top: 2rem;
}

#logoContainer img {
    padding: 1rem 0 0 0;
}

#landingPage {
    background-image: url("../images/jpg-collage-dark-1600x900.jpg");
    background-position: center;
    background-repeat: no-repeat;
    /* padding-left: 2rem; */
    border: 1px solid red;
}

.modal-content {
    color: black;
}

@media screen {
    
}